body,
html {
  @apply bg-dark-700 text-light-100;

  font-family: monospace;
}

:root {
  --dashed-color: theme("colors.dark.300");
  --dashed-length: 10px;
  --dashed-width: 3px;
  --dashed-spacing: 20px;
}

.dashed-sm {
  --dashed-length: 8px;
  --dashed-spacing: 9px;
  --dashed-width: 2px;
}

.dashed-lg {
  --dashed-length: 18px;
  --dashed-spacing: 30px;
  --dashed-width: 6px;
}
